@charset "utf-8";

/*GENERAL SETTING*/
*{
	margin: 0;
	padding: 0;
	font-family: Times New Roman, sans-serif,calibri, "segou ui", arial, tahoma;
}
article, aside, footer, header, main, nav, section{
	display: block;
}
body{
	width: 960px;
	margin: 10px auto;
}
h4{
	clear: both;
	text-align: center;
	margin-bottom: 10px;
	border: 1px solid #000000;
	background-color: #2ECC71;
}
hr{
	border-style: dashed;
}
article p{
	text-align: justify;
}
/*HEADER*/
header form{
	float: right;
	padding: 5px;
	margin-top: 20px;
	color: #ffffff;
	background: #2ECC71;
	border: 1px solid #000000;
	color: black;
}

/*NAVIGASI MENU UTAMA*/
#nav_menu{
	background-color: #2ECC71;
	border: 1px solid #000000;
	overflow: hidden;
}
#nav_menu li{
	float: left;
	font-weight: bold;
	list-style: none;
	padding: 10px 20px;
	border-right: 1px solid #a7a0a0;
}
#nav_menu li a{
	text-decoration: none;
	color: black;
}
#nav_menu li a:hover{
	color: white;
}
#nav_menu form{
	float: right;
	padding: 8px 20px;
}/*END NAVIGASI MENU UTAMA*/

/*CONTENT*/
main{
	float: right;
	width: 700px;
	/*margin-left: 10px;*/
	margin-top: 10px;
}
/*ASIDE*/
aside{
	float: left;
	width: 250px;
	margin-top: 10px;
}
#login form{
	border: 1px solid #2ECC71;
	padding: 10px 5px;
}
#category ul{
	margin-left: 20px;
}
#category ol{
	margin-left: 10px;
	list-style: none;
}
#category ol li{
	border-bottom: 1px dashed #a7a0a0;
}
#category a{
	text-decoration: none;
	color: #2ECC71;
}
/*PRODUCT_LIST*/
#product_list h2{
	float: left;
}
#product_list input{
	float: right;
}
#product_list article{
	clear: both;
}
.product{
	float: right;
	background: #ffffff;
	width: 155px;
	height: 200px;
	margin-right: 12px;
	margin-bottom: 10px;
	border: 1px solid #2ECC71;
	position: relative;
}
.product img{
	margin-bottom: 20px;
}
.product input{
	position: absolute;
	bottom: 0;
	right: 0;
}
#latest_article{
	clear: both;
	border: 1px solid #2ECC71;
	padding: 5px;
	margin-bottom: 10px;
}
/*NAVIGASI MENU FOOTER*/
#nav_footer{
	clear: both;
	padding: 10px;
	background-color: #2ECC71;
	border: 1px solid #000000;
}
#nav_footer li{
	display: inline;
	padding: 0 60px;
	border-right: 1px solid #a7a0a0;
}
#nav_footer li a{
	text-decoration: none;
	color: white;
}
#nav_footer li a:hover{
	color: black;
}
footer p{
	text-align: center;
	color: black;
}
