@charset "utf-8";

/*GENERAL SETTING*/
*{
	margin: 0;
	padding: 0;
	font-family: Times New Roman, sans-serif,calibri, "segou ui", arial, tahoma;
}
article, aside, footer, header, main, nav, section{
	display: block;
}
article, header, nav, aside{
	border-radius: 15px;
	padding: 5px;
}
p{
	text-align: justify;
}
header h1{
	color: #e91818; 
	font-size: 36px;
	text-shadow: 0 0 5px white;
}
small{
	color: white;
}
h3{
	margin-left: 5px;
}
header{
	background: #00a70f;
	margin-bottom: 10px;
}
#header{
	background: #5a4e4e;
}
body{
	width: 960px;
	margin: 10px auto;
	background: #5a4e4e;
}
/*.years{
	left: 0;
	transform: rotate(-90deg);
}*/
a{
	text-decoration: none;
}
/*----------------------------------------------------------NAV*/
nav{
	margin-top: 30px;
	background-color: red;
	overflow: hidden;
}
nav li{
	float: left;
	font-weight: bold;
	list-style: none;
	padding: 10px 20px;
}
nav li a{
	text-decoration: none;
	color: black;
}

/*ul, li{
	list-style: none;
	margin: 0;
	padding: 0;
}
ul.menu li{
	display: inline-block;
}
ul.sub_menu{
	display: none;
}*/
/*-------------------------------------------------------START CONTENT*/
main{
	width: 640px;
	float: left;
}
#main_content{
	margin-top: 30px;
	margin-bottom: 10px;
}
article{
	background: white;
	padding: 15px;
	margin-top: 0;
	margin-bottom: 30px;
}
article header, article footer{
	position: relative;
}
.years{
	transform: rotate(-90deg); 
}
.count_comment{
	position: absolute;
	right: 20px;
	top: 15px;
	font-size: 20px;
	color: white;
}
.read_more{
	position: absolute;
	right: 15px;
	/*color: white;*/
}
article footer{
	margin-top: 30px;
}
article p{
	text-align: justify;
}
.post{
	background: #00a70f;
}
/*ASIDE*/
aside{
	background: white;
	float: right;
	width: 270px;
	padding: 15px;
	margin-top: 30px;
}
aside li, .news_f li{
	list-style: none;
	margin-top: 5px;
}
aside li a, .news_f li a{
	text-decoration: none;
	color: #e91818;
}
/*------------------------------------START FOOTER*/
#news_footer{
	clear: both;
}
.news_f{
	float: left;
	width: 270px;
	margin-right: 20px;
	margin-top: 0;
}
#copyright p{
	clear: both;
	text-align: center;
	margin-top: 20px;
}