*{
	margin: 0;
	padding: 0;
	font-family: Times New Roman, sans-serif,calibri, "segou ui", arial, tahoma;
}
h4{
	text-align: center;
	margin-bottom: 10px;
	border: 1px solid #a7a0a0;
	background: #2ECC71;
}
p{
	text-align: justify;
}
hr{
	border-style: dashed;
}
body{
	background: #ffffff;
}
#wrapper{
	width: 960px;
	margin: 10px auto;
}
/*css header*/
header{
	background: #ffffff;
}
#header form{
	float: right;
	padding: 5px;
	margin-top: 20px;
	color: #ffffff;
	background: #2ECC71;
	border: 1px solid #a7a0a0;
}
#header label{
	margin-left: 10px;
}
#header_menu{
	background: #2ECC71;
	border: 1px solid #a7a0a0;
	height: 40px;
	margin-top: 5px;
	margin-bottom: 15px;
}
#header_menu ul li{
	float: left;
	font-weight: bold;
	list-style: none;
	padding: 10px 20px;
	border-right: 1px solid #a7a0a0;
}
#header_menu ul li a{
	text-decoration: none;
	color: #000000;
}
#header_menu ul li a:hover{
	color: white;
}
#header_menu form{
	float: right;
	padding: 8px 10px;
}
/*css section*/
#main{
	float: right;
	width: 700px;
	padding: 0 5px 0 5px;
}
#product_list{
	clear: both;
	padding-left: 15px;
}
#product_list p{
	text-align: justify;
}
#content h2{
	float: left;
}
#content input{
	float: right;
}
.product{
	float: left;
	background: #ffffff;
	width: 155px;
	height: 200px;
	margin-right: 12px;
	margin-bottom: 10px;
	border: 1px solid #2ECC71;
	position: relative;
}
.product img{
	width: 137px;
	height: 92px;
	margin-bottom: 20px;
}
.product input{
	position: absolute;
	bottom: 0;
	right: 0;
}
#latest_article{
	clear: both;
}
/*css aside(login/category)*/
#sidebar{
	float: left;
	width: 250px;
}
#login form{
	border: 1px solid #2ECC71;
	padding: 10px 5px;
}
#category ul{
	margin-left: 20px;
}
#category ol{
	margin-left: 10px;
	list-style: none;
}
#category ol li{
	border-bottom: 1px dashed #a7a0a0;
}
#category a{
	text-decoration: none;
}

/*css footer*/
#footer{
	margin-top: 10px;
}
#footer_menu{
	clear: both;
	background: #27AE60;
	border: 1px solid #a7a0a0;
	height: 40px;
	margin-top: 20px;
}
#footer_menu ul li{
	float: left;
	list-style: none;
	padding: 10px 64px;
	border-right: 1px solid #a7a0a0;
}
#footer_menu ul li a{
	text-decoration: none;
	color: white;
}
#footer_menu ul li a:hover{
	color: black;
}
#footer p{
	text-align: center;
}