@charset "utf-8";

/*GENERAL SETTING*/
*{
	margin: 0;
	padding: 0;
	font-family: Times New Roman, sans-serif,calibri, "segou ui", arial, tahoma;
}
body{
	width: 960px;
	margin: 20px auto;
	background: #5a4e4e;
}
/*HEADER*/
header img{
	float: left;
}
/*NAV*/
header nav, footer ul{
	float: right;
}
li{
	display: inline;
	border-right: 1px solid #000000;
	margin-left: 10px;
	padding-right: 10px;
	font-weight: bold;
}
li a{
	list-style: none;
	color: black;
	text-decoration: none;
}
main{
	clear: both;
	float: left;
	width: 620px;
	background: white;
}
aside{
	width: 300px;
	float: right;
	background: blue;
}
footer{
	margin-top: 10px;
	background: blue;
}
#footer{
	clear: both;
	margin-top: 10px;
}